<div id="app">
    <header>头部</header>
    <div class="container">
        <nav>
            <mat-nav-list>
                <h3 matSubheader>用户管理</h3>
                <mat-list-item class="nav-item">
                    <a matLine href="/">用户列表</a>
                </mat-list-item>
                <mat-list-item class="nav-item">
                    <a matLine href="/">添加用户</a>
                </mat-list-item>

                <mat-divider></mat-divider>

                <h3 matSubheader>权限管理</h3>
                <mat-list-item class="nav-item">
                    <a matLine href="/">权限列表</a>
                </mat-list-item>
                <mat-list-item class="nav-item">
                    <a matLine href="/">添加权限</a>
                </mat-list-item>

                <mat-divider></mat-divider>

                <h3 matSubheader>资源管理</h3>
                <mat-list-item class="nav-item">
                    <a matLine href="/">资源列表</a>
                </mat-list-item>
                <mat-list-item class="nav-item">
                    <a matLine href="/">资源权限</a>
                </mat-list-item>

            </mat-nav-list>
        </nav>
        <section>
            内容
        </section>
    </div>
</div>