<div id="app">
    <header>
        <div class="logo">
            <mat-icon>cloud_circle</mat-icon>
            <span>后台管理系统</span>
        </div>
        <div class="setting">
            <span>欢迎您，刘先生</span>

            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>哈哈</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>呵呵</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>呼呼</span>
                </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon matBadge="15" matBadgeColor="warn">person</mat-icon>
            </button>


        </div>
    </header>
    <div class="container">
        <nav>
            <mat-nav-list>
                <h3 matSubheader>用户管理</h3>
                <mat-list-item [ngClass]="{'nav-item': true, 'active': currentUrl === '/users'}">
                    <a matLine routerLink="/users">用户列表</a>
                </mat-list-item>

                <mat-divider></mat-divider>

                <h3 matSubheader>权限管理</h3>
                <mat-list-item  [ngClass]="{'nav-item': true, 'active': currentUrl === '/auths'}">
                    <a matLine routerLink="/auths">权限列表</a>
                </mat-list-item>
            </mat-nav-list>
        </nav>
        <section>
            <router-outlet></router-outlet>
        </section>
    </div>
</div>